video {
    transform: rotateY(180deg);
}

.select {
    height: 30px;
}

.h-90 {
    height: 90% !important;
}

.h-10 {
    height: 10% !important;
}


.btn {
  position: relative;
}

#timer {
    line-height: 30px;
  height: 70px;
  border: 5px solid white;
  border-radius: 6px;
  margin: auto;
  margin-top: 30px;
  padding: 10px;
  text-align: center;
  width: 50%;
  background-color: #fc90fc;
  background-image: linear-gradient(to bottom left, #fdd47d, #ff9fb4);
  color: #ffffff;
  text-align: center;
  background-size: 100%;
  margin-bottom: 25px;
  font-size: 150%;
  font-style: oblique;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body{
    margin: 3%;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: #dc9fff;
    background-image: linear-gradient(to bottom right, #ffb0f2, #b2a4ff);
}
